Importing

In [76]:
import os
import pandas as pd
from dotenv import load_dotenv

from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.exc import NoSuchTableError

## Connect to MySQL

In [77]:
load_dotenv()
db_password = os.getenv("LOCAL_DB_PASSWORD")
print(db_password)

12345

In [3]:
engine = create_engine(f"mysql+pymysql://root:{db_password}@localhost/stadvdbmco1")

### To push to MySQL use this: 
```# Push DataFrame to MySQL
df_to_push.to_sql('table_name_to_store', con=engine, index=False, if_exists='replace')

In [4]:
#df.to_sql('table_name_to_store', con=engine, index=False, if_exists='replace')

## Reading CSV Files
Using of iso-8859-1 allows csv reader to read non-UTF-8 formated files

In [78]:
appointments_table = pd.read_csv("./smdb/appointments.csv", encoding='iso-8859-1',
                                 dtype={
                                     'apptid': 'string',
                                     'pxid': 'string',
                                     'clinicid': 'string',
                                     'doctorid': 'string',
                                     'status': 'string',
                                    #  'TimeQueued': 'string',
                                    #  'QueueDate': 'string',
                                    #  'StartTime': 'string',
                                    #  'EndTime': 'string',
                                     'type': 'string',
                                     'Virtual': 'boolean'
                                 })
clinics_table = pd.read_csv("./smdb/clinics.csv", encoding='iso-8859-1',
                            dtype={
                                'clinicid': 'string',
                                'hospitalname': 'string',
                                'IsHospital': 'boolean',
                                'City': 'string',
                                'Province': 'string',
                                'RegionName': 'string'
                            })
doctors_table = pd.read_csv("./smdb/doctors.csv", encoding='iso-8859-1',
                            dtype={
                                'doctorid': 'string',
                                'mainspecialty': 'string',
                                'age': 'Int32'
                            })
px_table = pd.read_csv("./smdb/px.csv", encoding='iso-8859-1',
                       dtype={
                           'pxid': 'string',
                           'gender': 'string'
                       },
                       low_memory= False)

This DataFrame contains information about appointments, including patient ID, clinic ID, doctor ID, appointment ID, status, time queued, queue date, start time, end time, appointment type, and virtual status.

In [79]:
appointments_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9752932 entries, 0 to 9752931
Data columns (total 11 columns):
 #   Column      Dtype
---  ------      -----
 0   pxid        string
 1   clinicid    string
 2   doctorid    string
 3   apptid      string
 4   status      string
 5   TimeQueued  object
 6   QueueDate   object
 7   StartTime   object
 8   EndTime     object
 9   type        string
 10  Virtual     boolean
dtypes: boolean(1), object(4), string(6)
memory usage: 762.7+ MB

This DataFrame contains information about clinics, including clinic ID, hospital name, hospital status, city, province, and region name.

In [80]:
clinics_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53962 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      53962 non-null  string
 1   hospitalname  17538 non-null  string
 2   IsHospital    53962 non-null  boolean
 3   City          53962 non-null  string
 4   Province      53962 non-null  string
 5   RegionName    53962 non-null  string
dtypes: boolean(1), string(5)
memory usage: 2.2 MB

This DataFrame contains information about doctors, including doctor ID, main specialty, and age.

In [81]:
doctors_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60024 entries, 0 to 60023
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       60024 non-null  string
 1   mainspecialty  27055 non-null  string
 2   age            20028 non-null  Int32
dtypes: Int32(1), string(2)
memory usage: 1.2 MB

This DataFrame contains information about patients, including patient ID, age, and gender.

In [82]:
px_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6507813 entries, 0 to 6507812
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   pxid    string
 1   age     object
 2   gender  string
dtypes: object(1), string(2)
memory usage: 149.0+ MB

### APPOINTMENTS TABLE

In [83]:
appointments_table.head(10)

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
0,EF196B348A49FB32DABC9834DC4FAAD9,ADF7EE2DCF142B0E11888E72B43FCB75,BB04AF0F7ECAEE4AAE62035497DA1387,C1CC0949B93D00A559F7A0BD38361E80,Complete,2018-04-11 01:59:58,2018-04-10 16:00:00,NaN,NaN,Consultation,<NA>
1,EAE3C87D0B33351272F2E9B9B1B56217,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,6585A31C60A1886FBA1433C50012B504,Queued,2018-04-10 10:34:16,2018-04-08 16:00:00,2018-04-09 10:33:00,2018-04-12 05:29:57,Inpatient,<NA>
2,7C5C93809D626CC702D08F33985B2B58,1E0F65EB20ACBFB27EE05DDC000B50EC,82AA4B0AF34C2313A562076992E50AA3,7250DCFF615E6580295C7E6ED4322371,Queued,2018-04-03 15:26:19,2018-03-30 16:00:00,2018-03-31 15:25:00,2018-04-05 15:51:47,Inpatient,<NA>
3,C300C2B9E0E5D4C46E8093BCDBFA05CA,98C39996BF1543E974747A2549B3107C,AD61AB143223EFBC24C7D2583BE69251,F5BBDCC08E39332F0AC27BB95CF1396A,Queued,2015-11-24 08:01:13.920000000,NaN,NaN,NaN,Consultation,<NA>
4,B3DBE7F9E4DC33CBC5660E0A923CF8E8,77EE3BC58CE560B86C2B59363281E914,AD61AB143223EFBC24C7D2583BE69251,55783FB42A02DABC3B2ED239B924DC87,Queued,2015-11-24 08:01:00.420000000,NaN,NaN,NaN,Consultation,<NA>
5,682B576CD12F5AAC02B5B4A5C26E841E,77EE3BC58CE560B86C2B59363281E914,AD61AB143223EFBC24C7D2583BE69251,FCEB4030B051CCDEAB7A5C0806A962BD,Queued,2015-11-24 08:01:00.530000000,NaN,NaN,NaN,Consultation,<NA>
6,06658391C29DD8847E3D689328247EAA,98C39996BF1543E974747A2549B3107C,AD61AB143223EFBC24C7D2583BE69251,F69D50E730E03073DB166762823D8AC3,Queued,2015-11-24 08:01:13.867000000,NaN,NaN,NaN,Consultation,<NA>
7,EE7675E6749F1AFD00F50F64C838D503,77EE3BC58CE560B86C2B59363281E914,AD61AB143223EFBC24C7D2583BE69251,190FC6726EE356C2B5C11DEF2094117A,Complete,2015-11-24 08:01:00.290000000,NaN,NaN,NaN,Consultation,<NA>
8,A349AB20601EA5F83E7C316DC5B00FF3,98C39996BF1543E974747A2549B3107C,AD61AB143223EFBC24C7D2583BE69251,CA31D17693F3DE39F72E4FE432E9E762,Queued,2015-11-24 08:01:13.807000000,NaN,NaN,NaN,Consultation,<NA>
9,0D008B671125E1748617779C9608CAB3,77EE3BC58CE560B86C2B59363281E914,AD61AB143223EFBC24C7D2583BE69251,DE6614E4E7E18C9B4DD500D29A66BC17,Queued,2015-11-24 08:01:00.357000000,NaN,NaN,NaN,Consultation,<NA>

In [84]:
appointments_table['status'].unique()

<StringArray>
[ 'Complete',    'Queued',    'NoShow',   'Serving',    'Cancel',      'Skip',
 'Completed',  'Admitted']
Length: 8, dtype: string

In [85]:
appointments_table['type'].unique()

<StringArray>
['Consultation', 'Inpatient']
Length: 2, dtype: string

In [86]:
appointments_table['Virtual'].unique()

<BooleanArray>
[<NA>, False, True]
Length: 3, dtype: boolean

### CLINICS TABLE

In [87]:
clinics_table.head(10)

,clinicid,hospitalname,IsHospital,City,Province,RegionName
0,77EE3BC58CE560B86C2B59363281E914,St. Luke's Medical Center-Global City,True,Taguig,Manila,National Capital Region (NCR)
1,98C39996BF1543E974747A2549B3107C,Our Lady of Lourdes Hospital,True,Manila,Manila,National Capital Region (NCR)
2,9AEADE7BEADA35C83D3B344FBAFE43B0,Makati Medical Center,True,Makati,Manila,National Capital Region (NCR)
3,FDBD31F2027F20378B1A80125FC862DB,Cardinal Santos Medical Center,True,San Juan,Manila,National Capital Region (NCR)
4,205C3608ECB984C1F5F5D2F52C934428,<NA>,False,Burgos,Ilocos Sur,Ilocos Region (I)
5,D19544AE709580379CD2523B0E72C86D,Butuan Doctor's Hospital,True,Butuan City,Agusan del Norte,Caraga (XIII)
6,6018DF1842F7130F1B85A6F8E911B96B,Batanes General Hospital,True,Basco,Batanes,Cagayan Valley (II)
7,07FF46BB6597A4F81EED4F59360FF835,<NA>,False,Manila,Manila,National Capital Region (NCR)
8,23E582AD8087F2C03A5A31C125123F9A,<NA>,False,Manila,Manila,National Capital Region (NCR)
9,5291822D0636DC429E80E953C58B6A76,<NA>,False,Makati,Manila,National Capital Region (NCR)

### DOCTORS TABLE

In [88]:
doctors_table['age'].unique()

<IntegerArray>
[  41,   43,   26,   34,   50,   62,   38,   57,   44,   59,   39,   49,   55,
   37, <NA>,   40,   48,   51,   46,   45,   54,   61,   60,   31,   65,   36,
   72,   64,   35,   47,   33,   68,   42,   73,   53,   58,   71,   52,   56,
   67,   63,   66,   81,   69,  160,   70, 1048,   32,   91,   75,   30,   78,
   76,   27,   29,   74,    8,    7,   28,  124,  123,   80,  113,   24,   25,
   92,   77,  104,   23,   83,    4,   86,   88,   21,   22,   84,   79,  944,
   17,  132,   85,  938]
Length: 82, dtype: Int32

### PX TABLE

In [89]:
px_table

                                     pxid  age  gender
0        5A1718EC380AFE6BE24D63EE78CDA043  NaN  FEMALE
1        C0FC9D6384C7F579F1048A461C298B8C    8  FEMALE
2        FB0C4098E2F7FD0BC3865382242E7034    2  FEMALE
3        EB3C1CBD5A2AC52C69BE0B90C5E149A7   54    MALE
4        92C92C2EB4B51FBB3CD354165BA5F027   67  FEMALE
...                                   ...  ...     ...
6507808  9D8045364678C651016538B78784720E   56    MALE
6507809  BCC86927CB7F687624859D5B7C9AB8B6   60    MALE
6507810  2890460EE1FD505905A0A55834EBDC06   17  FEMALE
6507811  3989D63FA4DD7C54911AA085CB7CF38A   62    MALE
6507812  80E396F35668298FED90AD2278A6D28D   46  FEMALE

[6507813 rows x 3 columns]

In [90]:
px_table['age'].unique()

array([nan, '8', '2', '54', '67', '89', '31', '59', '14', '34', '29',
       '60', '32', '33', '1', '27', '65', '64', '5', '62', '40', '50',
       '6', '83', '69', '37', '22', '42', '78', '55', '48', '81', '66',
       '58', '82', '44', '43', '30', '79', '38', '74', '26', '70', '36',
       '9', '93', '12', '23', '21', '72', '4', '63', '80', '61', '16',
       '20', '18', '11', '46', '45', '49', '71', '35', '25', '28', '53',
       '57', '41', '52', '86', '3', '24', '47', '90', '10', '87', '77',
       '51', '73', '76', '13', '56', '75', '39', '15', '7', '17', '68',
       '19', '0', '105', '84', '88', '92', '101', '95', '96', '98', '124',
       '91', '85', '99', '-182', '94', '97', '-24', '113', '100', '-962',
       '-9', '106', '-20', '115', '123', '104', '102', '122', '-13',
       '103', '-964', '-960', '-75', '-897', '-968', '-35', '-57', '-947',
       '-5', '-954', '107', '-932', '-974', '-16', '-18', '-944', '-6',
       '-4', '-926', '-939', '-936', '-49', '-3', '-953', '-972', '-85',
       '-970', '-7', '-12', '-1', '-929', '-178', '-921', '117', '176',
       '-19', '108', '189', '184', '-43', '-23', '-39', '143', '109',
       '-63', '-967', '174', '167', '-22', '-51', '162', '148', '153',
       '-928', '181', '112', '151', '-935', '-2', '-937', '110', '224',
       '135', '-21', '-975', '149', '-25', '150', '170', '-10', '-176',
       '-976', '-893', '-940', '-966', '-14', '-53', '-887', '-958',
       '-899', '-946', '-8', '173', '188', '183', '157', '111', '-925',
       '120', '141', '-77', '-82', '191', '171', '180', '-919', '178',
       '-30', '-181', '187', '119', '-73', '163', '192', 'age', '118',
       '-70', '-930', '-37', '-952', '-973', '-956', '-15', '-927',
       '-945', '-36', '-54', '-959', '-2931', '114', '-31', '166', '-61',
       '155', '-33', '-949', '-971', '121', '154', '-943', '-920', '175',
       '169', '-118', '179', '-942', '-58', '-11', '126', '-56', '-66',
       '-17', '-955', '206', '156', '168', '144', '-97', '195', '-27',
       '161', '145', '125', '-72', '-29', '139', '-55', '-80', '-79',
       '-913', '-83', '-894', '-81', '-40', '-951', '-965', '165', '-71',
       '136', '172', '-948', '-45', '159', '-950', '-891', '-180', '116',
       '186', '-74', '-76', '-84', '-908', '147', '201', '129', '-892',
       '-183', '-933', '-969', '-889', '-26', '-60', '-931', '-890',
       '-898', '-177', '-961', '236', '271', '-28', '160', '-934', '-963',
       '-957', '-50', '-888', '-67', '-916', '-86', '-42', '-918', '-941',
       '-895', '-185', '-924', '132', '-923', '-198', '-88', '-64',
       '-184', '-6195', '146', '152', '196', '-93', '-179', '-938', '-47',
       '142', '-917', '-69', '-922', '-46', '-549', '-251', '-1030',
       '-625', '-1152', '-59', '-1173', '-32', '-5894', '164', '-5960',
       '-5175', '-793', '-7975', '-5965', '-5968', '-996'], dtype=object)

In [91]:
px_table['gender'].unique()

<StringArray>
['FEMALE', 'MALE', 'gender']
Length: 3, dtype: string

In [92]:
null_count_gender = px_table['gender'].isnull().sum()
print("Null count in 'gender' column:", null_count_gender)

Null count in 'gender' column: 0

# CLEANING

## Clinic Table Cleaning
The process of cleaning this dataset involves dropping duplicated records and retaining those with empty hospitalName. This is due to the conditional characteristic of the database to leave empty cell when Ishospital is false, which means that the certain record is not a hospital but a clinic. Both clinic and hospital are needed in the project. Thus, empty cells in hospitalname are retained. hospitalname was also sliced up to 45 characters for consistency.

In [93]:
#remove duplicates
clinics_table = clinics_table.drop_duplicates(subset='clinicid')

#Set max character length of hospital name to 45
clinics_table['hospitalname'] = clinics_table['hospitalname'].str.slice(0, 45)

clinics_table = clinics_table
clinics_table

,clinicid,hospitalname,IsHospital,City,Province,RegionName
0,77EE3BC58CE560B86C2B59363281E914,St. Luke's Medical Center-Global City,True,Taguig,Manila,National Capital Region (NCR)
1,98C39996BF1543E974747A2549B3107C,Our Lady of Lourdes Hospital,True,Manila,Manila,National Capital Region (NCR)
2,9AEADE7BEADA35C83D3B344FBAFE43B0,Makati Medical Center,True,Makati,Manila,National Capital Region (NCR)
3,FDBD31F2027F20378B1A80125FC862DB,Cardinal Santos Medical Center,True,San Juan,Manila,National Capital Region (NCR)
4,205C3608ECB984C1F5F5D2F52C934428,<NA>,False,Burgos,Ilocos Sur,Ilocos Region (I)
...,...,...,...,...,...,...
53957,8DE279A56DBCECE9F9FFC514A7D5A378,<NA>,False,Manila,Manila,National Capital Region (NCR)
53958,55A64961C9AA4134016786AE7202682E,<NA>,False,Manila,Manila,National Capital Region (NCR)
53959,075E464A7D15E6E5B9D8F8F5B5B16BB9,<NA>,False,Manila,Manila,National Capital Region (NCR)
53960,01063BCF7624297FBB408495BCB62904,Malabon Hospital and Medical Center,True,Malabon,Manila,National Capital Region (NCR)
53961,5DA48026B54B6EEB6062817CAA7C30EA,<NA>,False,Malabon,Manila,National Capital Region (NCR)

## PX Table Cleaning

The process of cleaning this dataset with patient information means we take out the repeated lines, get rid of any lines that do not have all their data, and remove any unusual numbers in the column for 'age'. We change the 'age' into numbers, and we do not include ages less than 0 or more than 122 years.

In [94]:
# remove duplicates
px_table = px_table.drop_duplicates(subset='pxid')

# remove rows with empty cell
px_table = px_table.dropna()

# remove outliers age
px_table['age'] = pd.to_numeric(px_table['age'], errors='coerce')
px_table = px_table.query('0 < age < 122')
px_table

                                     pxid   age  gender
1        C0FC9D6384C7F579F1048A461C298B8C   8.0  FEMALE
2        FB0C4098E2F7FD0BC3865382242E7034   2.0  FEMALE
3        EB3C1CBD5A2AC52C69BE0B90C5E149A7  54.0    MALE
4        92C92C2EB4B51FBB3CD354165BA5F027  67.0  FEMALE
5        F75E54013B29DF41766E2B1125EFC409  89.0    MALE
...                                   ...   ...     ...
6507808  9D8045364678C651016538B78784720E  56.0    MALE
6507809  BCC86927CB7F687624859D5B7C9AB8B6  60.0    MALE
6507810  2890460EE1FD505905A0A55834EBDC06  17.0  FEMALE
6507811  3989D63FA4DD7C54911AA085CB7CF38A  62.0    MALE
6507812  80E396F35668298FED90AD2278A6D28D  46.0  FEMALE

[5487357 rows x 3 columns]

## DOCTOR TABLE CLEANING

The dataset of doctors is cleaned by removing repeated entries, filling empty spaces in the 'mainspecialty' column with 'unknown', and taking out extreme values from the 'age' column. This ensures that our data is correct, complete, and reliable for studying and analyzing both demographic information and specialties of the medical professionals.

In [95]:
# remove duplicates
doctors_table = doctors_table.drop_duplicates(subset='doctorid')

# replace empty cell with 'unknown'
doctors_table['mainspecialty'] = doctors_table['mainspecialty'].fillna('unknown')

# remove outliers age
doctors_table['age'] = pd.to_numeric(doctors_table['age'], errors='coerce')
#doctors_table = doctors_table.query('0 < age < 122')
doctors_table = doctors_table[(doctors_table['age'] >= 0) & (doctors_table['age'] <= 122)]
doctors_table

                               doctorid         mainspecialty  age
0      AD61AB143223EFBC24C7D2583BE69251      General Medicine   41
1      D09BF41544A3365A46C9077EBB5E35C3       Family Medicine   43
2      FBD7939D674997CDB4692D34DE8633C4     Vascular Medicine   26
3      28DD2C7955CE926456240B2FF0100BDE     Otolaryngologists   34
4      35F4A8D465E6E1EDC05F3D8AB658C551     General Dentistry   50
...                                 ...                   ...  ...
60012  D1EEFDEF38B0DC9967B2482ED5676157    General Pediatrics   37
60014  FD1D25ED94DA6BA29824C667A7093312  General Practitioner   26
60018  178B515E6825D004EBAF232DD6977CCD      General Medicine   29
60019  CD532DBEF6547A66D2138FAB49AA3B94  General Practitioner   33
60023  23BA85862DD19C3550E7C0F0AF84C7ED     Internal Medicine   38

[20021 rows x 3 columns]

## APPOINTMENT TABLE CLEANING

The appointments dataset will be improved for better analysis and interpretation through the use of this data cleaning method. In order to preserve data integrity, it starts by removing any datetime values that don't fall inside a suitable range. After that, date columns are standardized to follow the right format, guaranteeing consistency and making processing easier in the future. To improve precision and clarity, time-related columns are cleansed of redundant milliseconds. In addition, duplicate rows are found and removed in order to preserve data integrity and prevent analysis errors.

In [96]:



# Drop duplicates
appointments_table = appointments_table.drop_duplicates(subset='apptid')

# Define a custom function to strip milliseconds
def strip_milliseconds(dt_str):
    return dt_str.split('.')[0]

# Filter out rows with out-of-bounds datetime values
mask = (appointments_table['QueueDate'] >= '1900-01-01') & (appointments_table['QueueDate'] <= '2200-12-31')
appointments_table = appointments_table[mask]

# Now try converting 'QueueDate' to datetime again
appointments_table['QueueDate'] = pd.to_datetime(appointments_table['QueueDate']) #remove
# Convert 'QueueDate' column to string type
appointments_table['QueueDate'] = appointments_table['QueueDate'].astype(str)
appointments_table['QueueDate'] = appointments_table['QueueDate'].apply(strip_milliseconds)
appointments_table['QueueDate'] = pd.to_datetime(appointments_table['QueueDate'], format='%Y-%m-%d %H:%M:%S')

# Convert 'StartTime' column to string type
appointments_table['StartTime'] = appointments_table['StartTime'].astype(str)
appointments_table['StartTime'] = appointments_table['StartTime'].apply(strip_milliseconds)
appointments_table['StartTime'] = pd.to_datetime(appointments_table['StartTime'], format='%Y-%m-%d %H:%M:%S')

appointments_table['EndTime'] = appointments_table['EndTime'].astype(str)
appointments_table['EndTime'] = appointments_table['EndTime'].apply(strip_milliseconds)
# remove unrealistic or out of range values
appointments_table = appointments_table[~(appointments_table['EndTime'] > '2262-04-11 23:47:16')]
appointments_table['EndTime'] = pd.to_datetime(appointments_table['EndTime'], format='%Y-%m-%d %H:%M:%S')

# Convert 'Completed' under 'status' to 'Complete'
appointments_table['status'] = appointments_table['status'].replace('Completed', 'Complete')

# Check if 'Completed' is replaced with 'Complete' under 'status'
print(appointments_table['status'].value_counts())

# Integration with other code
appointments_table = appointments_table[appointments_table['pxid'].isin(px_table['pxid'])]
appointments_table = appointments_table[appointments_table['doctorid'].isin(doctors_table['doctorid'])]
appointments_table = appointments_table[appointments_table['clinicid'].isin(clinics_table['clinicid'])]


# Print the cleaned appointments table
appointments_table

status
Complete    2460679
Queued       772332
Serving      224451
NoShow       125514
Cancel       121013
Skip          12159
Admitted          1
Name: count, dtype: Int64

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
76059,FE4A5D5A20EC492D2FC691F126A568AB,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,04BC9218E072BEEFEBEE9C97B78A35C9,Queued,2020-06-22 05:11:38.247000000,2020-07-02 16:00:00,2020-07-02 17:00:38,2020-07-02 17:15:38,Consultation,<NA>
76061,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,F2335AAFB7EE079C7E7306591057C0C9,Queued,2020-06-26 04:51:16.403000000,2020-07-12 16:00:00,2020-07-12 17:00:15,2020-07-12 17:15:15,Consultation,<NA>
76063,E430B3D3AEED550612FFDBD0F2F94112,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,B2C83D6DE89A88C5CD9EA1FD5FC00602,Queued,2020-07-13 07:00:50.127000000,2020-07-19 16:00:00,2020-07-20 05:00:49,2020-07-20 05:15:49,Consultation,<NA>
76064,E6BC8E80685AA4A239617F196F12A0C3,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,DA4023B5A8C3F1BD540EA82552F21134,Queued,2020-07-13 06:07:13.537000000,2020-07-28 16:00:00,2020-07-29 05:00:13,2020-07-29 05:15:13,Consultation,<NA>
76069,41E3F930274A7704305EE197F3434877,3B8D83483189887A2F1A39D690463A8F,ACB3A881C7CE9ABCAE0CE8C99C86A906,C805F7992F18E33AB85CEBD572680943,Queued,2020-06-26 05:54:35.117000000,2020-09-27 16:00:00,2020-09-27 17:00:34,2020-09-27 17:15:34,Consultation,<NA>
...,...,...,...,...,...,...,...,...,...,...,...
9602481,C262D44C1E0C8451E3328343BE666813,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,3E30C5A14D659B05E1AB506479538996,Queued,2021-03-16 22:28:27.627000000,2021-03-16 16:00:00,2021-03-16 22:26:00,2021-03-19 06:25:00,Inpatient,<NA>
9602483,F5D5EDE903850C3B541AB19AD4D21315,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,BA7DC84EDA21C6D219CAB7B782876188,Queued,2021-03-31 04:21:44.753000000,2021-03-30 16:00:00,2021-03-31 04:19:00,2021-03-31 21:33:00,Inpatient,<NA>
9602484,838B6A62B7DC186CDECF5D6564EFC8CB,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,167209C9AD16B30A73E90F3EAA5C10CA,Queued,2021-05-16 11:01:32.287000000,2021-05-13 16:00:00,2021-05-14 11:00:00,2021-05-19 05:04:00,Inpatient,<NA>
9602492,BAF981CE16CC723515D127A34F4484F0,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,11C959D3644700F43963D8B7458A0F56,Queued,2021-09-21 23:45:20.367000000,2021-09-21 16:00:00,2021-09-21 23:44:00,2021-09-24 06:29:00,Inpatient,<NA>
9602502,265BA54E520D92E0DB186DE335C804FD,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,47628BDF1EF7A1A9292BC359FD7797B9,Queued,2022-01-20 08:36:23.580000000,2022-01-19 16:00:00,2022-01-20 08:35:00,2022-01-23 07:07:00,Inpatient,<NA>

## Loading to Data Warehouse

The following code is for checking purposes when the whole program is run multiple times. This is to ensure that the reference table was removed first before the dimension table attempt to remove values to avoid duplicates in append command. Similarly, these block of codes repeat on loading for each tables to ensure that whenever that block of code is run, it won't duplicate on append as well.

In [63]:
# Table name to delete from
table_name = 'appt_main'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")

All values deleted from the 'appt_main' table.

In [64]:
# Table name to delete from
table_name = 'doctors'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
doctors_table.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'doctors' table.

20021

In [65]:
# Table name to delete from
table_name = 'px'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
px_table.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'px' table.

5487357

In [66]:
# Table name to delete from
table_name = 'clinics'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
clinics_table.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'clinics' table.

53962

In [67]:
# Table name to delete from
table_name = 'appt_main'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")

appointments_table.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'appt_main' table.

59914

In [101]:
# Uncomment to close the connection
# engine.dispose()

### Fragmentation and Partial Replication for Luzon

In [118]:
clinics_table['RegionName'].unique()

<StringArray>
[                          'National Capital Region (NCR)',
                                       'Ilocos Region (I)',
                                           'Caraga (XIII)',
                                     'Cagayan Valley (II)',
                                   'Central Visayas (VII)',
                                       'CALABARZON (IV-A)',
                                    'Western Visayas (VI)',
                                     'Central Luzon (III)',
                                         'MIMAROPA (IV-B)',
                                        'Bicol Region (V)',
                                       'Davao Region (XI)',
                    'SOCCSKSARGEN (Cotabato Region) (XII)',
                                   'Northern Mindanao (X)',
                                'Zamboanga Peninsula (IX)',
                                  'Eastern Visayas (VIII)',
                  'Cordillera Administrative Region (CAR)',
 'Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)']
Length: 17, dtype: string

In [119]:
luzon_regions = [
    'National Capital Region (NCR)',
    'Ilocos Region (I)',
    'Cagayan Valley (II)',
    'Central Luzon (III)',
    'CALABARZON (IV-A)',
    'MIMAROPA (IV-B)',
    'Bicol Region (V)',
    'Cordillera Administrative Region (CAR)'
]
clinics_table_luzon = clinics_table[clinics_table['RegionName'].isin(luzon_regions)]
clinics_table_luzon.tail(10)

,clinicid,hospitalname,IsHospital,City,Province,RegionName
53952,C9711A4E953026FF108305356EDBF155,<NA>,False,Manila,Manila,National Capital Region (NCR)
53953,C2BF3125945747E97F1F3A98601B139F,<NA>,False,Manila,Manila,National Capital Region (NCR)
53954,FE8EC2760F8D6F1E831DC7BCE2B3953B,<NA>,False,Manila,Manila,National Capital Region (NCR)
53955,395B197C65961B70132E7BEA14250344,<NA>,False,Manila,Manila,National Capital Region (NCR)
53956,5FD56C1FA3E5C045AC028E4EAB875EB0,<NA>,False,Manila,Manila,National Capital Region (NCR)
53957,8DE279A56DBCECE9F9FFC514A7D5A378,<NA>,False,Manila,Manila,National Capital Region (NCR)
53958,55A64961C9AA4134016786AE7202682E,<NA>,False,Manila,Manila,National Capital Region (NCR)
53959,075E464A7D15E6E5B9D8F8F5B5B16BB9,<NA>,False,Manila,Manila,National Capital Region (NCR)
53960,01063BCF7624297FBB408495BCB62904,Malabon Hospital and Medical Center,True,Malabon,Manila,National Capital Region (NCR)
53961,5DA48026B54B6EEB6062817CAA7C30EA,<NA>,False,Malabon,Manila,National Capital Region (NCR)

In [120]:
clinics_table_luzon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48190 entries, 0 to 53961
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      48190 non-null  string
 1   hospitalname  14512 non-null  string
 2   IsHospital    48190 non-null  boolean
 3   City          48190 non-null  string
 4   Province      48190 non-null  string
 5   RegionName    48190 non-null  string
dtypes: boolean(1), string(5)
memory usage: 2.3 MB

In [121]:
appointments_table_luzon =  appointments_table[appointments_table['clinicid'].isin(clinics_table_luzon['clinicid'])]
appointments_table_luzon.tail(10)

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
9602472,4F00F3F1C003813C415BB22C335548C0,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,CF696F496D52622AA181504CDB269DAF,Queued,2020-09-24 06:18:50.270000000,2020-09-23 16:00:00,2020-09-24 06:17:00,2020-09-26 04:33:00,Inpatient,<NA>
9602473,2A450E44ECBEC508E8262C487B6EE543,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,0B8C7CC41F08AD87594984492F144469,Queued,2020-10-19 04:37:17.707000000,2020-10-18 16:00:00,2020-10-19 04:35:00,2020-10-23 22:01:00,Inpatient,<NA>
9602474,F8C573B1EFFF11394E564521B5DBA082,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,B1D922DAF646F2452E5B33B1FB277867,Queued,2020-11-02 22:08:26.300000000,2020-10-30 16:00:00,2020-10-30 22:06:00,2020-11-01 22:19:00,Inpatient,<NA>
9602476,9F542E224F191FF3411423BF8EC722A9,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,95D89B67976BDCFDA2E15FEF3C5D0009,Queued,2020-11-07 07:15:55.500000000,2020-11-06 16:00:00,2020-11-07 07:14:00,2020-11-10 02:25:00,Inpatient,<NA>
9602479,C565D94FB9DE87B8CC67C6B0BE3AB04F,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,BD69E107ED37A79FC10BCFA2980C2035,Queued,2021-03-04 08:37:18.977000000,2021-03-03 16:00:00,2021-03-04 08:36:00,2021-03-07 06:00:00,Inpatient,<NA>
9602481,C262D44C1E0C8451E3328343BE666813,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,3E30C5A14D659B05E1AB506479538996,Queued,2021-03-16 22:28:27.627000000,2021-03-16 16:00:00,2021-03-16 22:26:00,2021-03-19 06:25:00,Inpatient,<NA>
9602483,F5D5EDE903850C3B541AB19AD4D21315,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,BA7DC84EDA21C6D219CAB7B782876188,Queued,2021-03-31 04:21:44.753000000,2021-03-30 16:00:00,2021-03-31 04:19:00,2021-03-31 21:33:00,Inpatient,<NA>
9602484,838B6A62B7DC186CDECF5D6564EFC8CB,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,167209C9AD16B30A73E90F3EAA5C10CA,Queued,2021-05-16 11:01:32.287000000,2021-05-13 16:00:00,2021-05-14 11:00:00,2021-05-19 05:04:00,Inpatient,<NA>
9602492,BAF981CE16CC723515D127A34F4484F0,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,11C959D3644700F43963D8B7458A0F56,Queued,2021-09-21 23:45:20.367000000,2021-09-21 16:00:00,2021-09-21 23:44:00,2021-09-24 06:29:00,Inpatient,<NA>
9602502,265BA54E520D92E0DB186DE335C804FD,2D5B3BE8503916AF8D41E5ADD640B0B6,F7F07E7DAB09533BC71247A5B29A7373,47628BDF1EF7A1A9292BC359FD7797B9,Queued,2022-01-20 08:36:23.580000000,2022-01-19 16:00:00,2022-01-20 08:35:00,2022-01-23 07:07:00,Inpatient,<NA>

In [122]:
appointments_table_luzon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57786 entries, 76059 to 9602502
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pxid        57786 non-null  string
 1   clinicid    57786 non-null  string
 2   doctorid    57786 non-null  string
 3   apptid      57786 non-null  string
 4   status      57786 non-null  string
 5   TimeQueued  57786 non-null  object
 6   QueueDate   57786 non-null  datetime64[ns]
 7   StartTime   57784 non-null  datetime64[ns]
 8   EndTime     57786 non-null  datetime64[ns]
 9   type        57786 non-null  string
 10  Virtual     51276 non-null  boolean
dtypes: boolean(1), datetime64[ns](3), object(1), string(6)
memory usage: 5.0+ MB

In [123]:
px_table_luzon = px_table[px_table['pxid'].isin(appointments_table_luzon['pxid'])] # This probably should be px_table lng since may patients na wala pang appointments
px_table_luzon.tail(10)

                                     pxid   age  gender
4748724  908DC6765A6AAF16A5C7FF67959BA850  33.0    MALE
4748726  F6954422DC983D49F3ADC2FC5E168C6F  43.0  FEMALE
4748773  C82001F6169B2467A8D056E47C4CE7C6  75.0  FEMALE
4750379  88841B71D66207DB8ECAE9D158E152C1  67.0  FEMALE
4752160  A66C220B3E1BC462354557D14BC82C9C  63.0    MALE
4752766  DFAE0061DDB4590085864276D9C09B52  26.0  FEMALE
4755103  6A0A75699E06C641489FD70596219A4E  81.0    MALE
4755213  8F30A927D41DBFC660988DBE24412EB5  86.0    MALE
4757576  5FC5FDD2820AA251407E8E40ED41BD0E  57.0    MALE
4760379  4EF1B244BE78624DAC68CD9FA43EDF08  29.0  FEMALE

In [124]:
px_table_luzon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12456 entries, 160208 to 4760379
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pxid    12456 non-null  string
 1   age     12456 non-null  float64
 2   gender  12456 non-null  string
dtypes: float64(1), string(2)
memory usage: 389.2 KB

In [125]:
doctors_table_luzon = doctors_table[doctors_table['doctorid'].isin(appointments_table_luzon['doctorid'])] # This probably should be doctors_table lng since may doctors na wala pang appointments
doctors_table_luzon.tail(10)

,doctorid,mainspecialty,age
10247,ACB3A881C7CE9ABCAE0CE8C99C86A906,Infectious Diseases,24
11485,30A250583BC20CF070AB6C9189508FCC,Obstetrics and Gynecology,46
15251,3349958A3E56580D4E415DA345703886,Dog & Cat Medicine & Surgery,21
16682,B3BF6193684F3983BB8642C8ADD75A4A,Pediatrics,51
19679,731B104C87788ED39B5B5E7571145E7B,"Integrative Medicine, Functional Medicine",41
25640,F2669241F7CCA3F1306082B7A9F458ED,Internal Medicine | Cardiology,42
28649,3464CE4186536A9855A8A7967B121B3E,Dermatology,24
34444,378271842C95B7894122B598F9874A14,"Health Optimization Medicine, Bioidentical Hor...",59
52600,0FF01D314C804DB670EC779979C1F5B4,General/Cancer Surgery,56
54424,4F03DAE4F1F28DEB53F7004C6D7CD132,Ophthalmology,24

In [126]:
doctors_table_luzon.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39 entries, 716 to 54424
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       39 non-null     string
 1   mainspecialty  39 non-null     string
 2   age            39 non-null     Int32
dtypes: Int32(1), string(2)
memory usage: 1.1 KB

In [127]:
engine = create_engine(f"mysql+pymysql://root:{db_password}@localhost/stadvdbmco2luzon")

In [128]:
# Table name to delete from
table_name = 'clinics'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
clinics_table_luzon.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'clinics' table.

48190

In [129]:
# Table name to delete from
table_name = 'doctors'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
doctors_table_luzon.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'doctors' table.

39

In [130]:
# Table name to delete from
table_name = 'px'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
px_table_luzon.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'px' table.

12456

In [131]:
# Table name to delete from
table_name = 'appt_main'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")

appointments_table_luzon.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'appt_main' table.

57786

In [133]:
# engine.dispose()

### Fragmentation and Partial Replication for Visayas and Mindanao

In [97]:
luzon_regions = [
    'National Capital Region (NCR)',
    'Ilocos Region (I)',
    'Cagayan Valley (II)',
    'Central Luzon (III)',
    'CALABARZON (IV-A)',
    'MIMAROPA (IV-B)',
    'Bicol Region (V)',
    'Cordillera Administrative Region (CAR)'
]
clinics_table_vismin = clinics_table[~clinics_table['RegionName'].isin(luzon_regions)]
clinics_table_vismin.tail(10)

,clinicid,hospitalname,IsHospital,City,Province,RegionName
53743,2A1BE4A130060ED6B9460BCB467D3135,Elisa R. Ochoa Memorial and Maternity General,True,Butuan City,Agusan del Norte,Caraga (XIII)
53748,6D5C9739CC0319650A0718526D9931FB,<NA>,False,Davao City,Davao del Sur,Davao Region (XI)
53759,ACEC9B353F1BB1005CDCEC9EC34A0142,<NA>,False,Carmen,Cebu,Central Visayas (VII)
53767,402F8A98015C98239E0AD673FD349880,Davao Del Norte Hospital (Island Garden City,True,Samal City,Davao del Norte,Davao Region (XI)
53816,0E5AF214F5704F6DAD8E6085B4B0D64B,OSPA Farmers Medical Center,True,Ormoc City,Leyte,Eastern Visayas (VIII)
53818,4745B78574FF367858DD7B8935AA72B8,<NA>,False,Dumaguete City,Negros Oriental,Central Visayas (VII)
53848,2870B16A188AD117F3A892B931401EA5,Davao Doctor's Hospital,True,Davao City,Davao del Sur,Davao Region (XI)
53909,4701E3012B71E530FC288002D2A7EAD8,<NA>,False,Davao City,Davao del Sur,Davao Region (XI)
53947,16C66D09450B3DFE2BFE95657B562FA3,Cebu Doctor's University Hospital,True,Cebu City,Cebu,Central Visayas (VII)
53951,62A8E70EEE7B7500EE5327BA82B157B7,"Brokenshire Integrated Health Ministries, Inc",True,Davao City,Davao del Sur,Davao Region (XI)

In [98]:
clinics_table_vismin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5772 entries, 5 to 53951
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      5772 non-null   string
 1   hospitalname  3026 non-null   string
 2   IsHospital    5772 non-null   boolean
 3   City          5772 non-null   string
 4   Province      5772 non-null   string
 5   RegionName    5772 non-null   string
dtypes: boolean(1), string(5)
memory usage: 281.8 KB

In [99]:
appointments_table_vismin =  appointments_table[appointments_table['clinicid'].isin(clinics_table_vismin['clinicid'])]
appointments_table_vismin.tail(10)

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
7907858,479047B5E3DD344F6D0B7F687BF262EE,BEF5B4D93C3AE02ACE550506A9A936DE,44E65D3E9BC2F88B2B3D566DE51A5381,92FB05C40313C187AAFC47204EA455C5,Serving,2020-09-23 03:41:20.197000000,2020-09-24 16:00:00,2020-09-25 08:00:00,2020-09-25 08:15:00,Consultation,True
7907862,4EEE95475B59FAA6F6694351A208EEFF,BEF5B4D93C3AE02ACE550506A9A936DE,44E65D3E9BC2F88B2B3D566DE51A5381,5999D451A4E50F78DDCE1B732524214F,Complete,2020-09-25 01:22:39.553000000,2020-09-28 16:00:00,2020-09-29 02:00:00,2020-09-29 02:15:00,Consultation,False
7907870,D8BBBF272B239FDE1EEA242D26BA2269,BEF5B4D93C3AE02ACE550506A9A936DE,44E65D3E9BC2F88B2B3D566DE51A5381,B03F2655138EB6A70E7439C0890D35D3,Queued,2020-09-08 11:49:06.173000000,2020-09-30 16:00:00,2020-10-01 08:00:00,2020-10-01 08:15:00,Consultation,True
7907882,9FB08ED50F7081F0D8699AC2B441B30C,BEF5B4D93C3AE02ACE550506A9A936DE,44E65D3E9BC2F88B2B3D566DE51A5381,F875C78B1BF1DA1EC61E4CCAADF32A22,Serving,2020-11-05 09:46:21.793000000,2020-11-05 16:00:00,2020-11-06 09:00:00,2020-11-06 09:15:00,Consultation,True
7907883,DB2E458B6A8215FD97354C8607AF2F48,BEF5B4D93C3AE02ACE550506A9A936DE,44E65D3E9BC2F88B2B3D566DE51A5381,6D573D1046A722B4D0248DBF11F9B26B,Queued,2020-11-03 08:02:49,2020-11-05 16:00:00,2020-11-06 02:00:38,2020-11-06 02:15:38,Consultation,<NA>
7907885,3ACB59F46C7F6E69DB2C21AD1B1428C5,BEF5B4D93C3AE02ACE550506A9A936DE,44E65D3E9BC2F88B2B3D566DE51A5381,3A210E2CF6F3A49DDD81F48D1DB0D152,Complete,2020-11-07 16:55:07.647000000,2020-11-11 16:00:00,2020-11-12 02:00:00,2020-11-12 02:15:00,Consultation,False
7907886,F1C5520A3A0AA76C266BD5AEEAECF47B,BEF5B4D93C3AE02ACE550506A9A936DE,44E65D3E9BC2F88B2B3D566DE51A5381,886180093F4294433F03CA8CEB3845A8,Complete,2020-11-13 09:30:02.360000000,2020-11-15 16:00:00,2020-11-16 02:00:00,2020-11-16 02:15:00,Consultation,False
7907895,30A75A6B05050BC7461BEDF6E4B1F2C3,BEF5B4D93C3AE02ACE550506A9A936DE,44E65D3E9BC2F88B2B3D566DE51A5381,7CAD074A794D74DFF35E4F109ADA0BDB,Serving,2020-12-28 18:29:57.343000000,2020-12-29 16:00:00,2020-12-30 08:00:00,2020-12-30 08:15:00,Consultation,True
7907940,F1C5520A3A0AA76C266BD5AEEAECF47B,BEF5B4D93C3AE02ACE550506A9A936DE,44E65D3E9BC2F88B2B3D566DE51A5381,193E702C06E11FA98E0AD1DB6D24163E,Queued,2021-03-09 01:58:19.977000000,2021-03-11 16:00:00,2021-03-12 09:00:00,2021-03-12 09:15:00,Consultation,False
7907972,29E07F6607C95B75C1D2F4D8F7D60342,BEF5B4D93C3AE02ACE550506A9A936DE,44E65D3E9BC2F88B2B3D566DE51A5381,FBE76E3990596B51218C2E6111367DCD,Queued,2021-05-27 14:23:51.993000000,2021-05-27 16:00:00,2021-05-28 10:00:00,2021-05-28 10:15:00,Consultation,False

In [100]:
appointments_table_vismin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2128 entries, 1850242 to 7907972
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pxid        2128 non-null   string
 1   clinicid    2128 non-null   string
 2   doctorid    2128 non-null   string
 3   apptid      2128 non-null   string
 4   status      2128 non-null   string
 5   TimeQueued  2128 non-null   object
 6   QueueDate   2128 non-null   datetime64[ns]
 7   StartTime   2128 non-null   datetime64[ns]
 8   EndTime     2128 non-null   datetime64[ns]
 9   type        2128 non-null   string
 10  Virtual     1822 non-null   boolean
dtypes: boolean(1), datetime64[ns](3), object(1), string(6)
memory usage: 187.0+ KB

In [101]:
px_table_vismin = px_table[px_table['pxid'].isin(appointments_table_vismin['pxid'])] # This probably should be px_table lng since may patients na wala pang appointments
px_table_vismin.tail(10)

                                     pxid   age  gender
4759661  EE891C34AF2E857ADAD2B8DD373F8F69  53.0  FEMALE
4760232  55228AAE1DDAC3D376E3B65C9B7731FC  62.0  FEMALE
4760377  67E2C53640E5DC4D8D3B26682E8BC992  57.0    MALE
4761255  CF4BF2F9862F1AD2494449943BCA687C  49.0    MALE
4761848  3D61398952737F4744AD2389C3D50953  72.0  FEMALE
4762238  242EE9DB951E5F696A1B7A6B1DC67262  60.0  FEMALE
4762340  D43A6EE811F8D6BC98A4C4715E273882  79.0  FEMALE
4762451  3B7CA1E2EE8A3CEDE4F05668DDDDE674  82.0  FEMALE
4762822  2657EB01587CEC7D634FFAE206696B65  32.0    MALE
4764074  04A07C3EEA54EA40280F6586D76317D7  32.0    MALE

In [102]:
px_table_vismin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 862 entries, 444944 to 4764074
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pxid    862 non-null    string
 1   age     862 non-null    float64
 2   gender  862 non-null    string
dtypes: float64(1), string(2)
memory usage: 26.9 KB

In [103]:
doctors_table_vismin = doctors_table[doctors_table['doctorid'].isin(appointments_table_vismin['doctorid'])] # This probably should be doctors lng since may doctors na wala pang appointments
doctors_table_vismin.tail(10)

,doctorid,mainspecialty,age
4484,75429D136F65D2D6168B9B6C5F6EC951,Obstetrics and Gynecology,56
4503,33805671920F0D02E6D18F630985AACE,General Medicine,44
4580,EE0B86D2E127F776EAAA97D77E078E41,INTERNAL MEDICINE-Geriatrics,61
6487,81E793DC8317A3DBC3534ED3F242C418,General and Laparoscopic Surgery,56
6547,0224CD598E48C5041C7947FD5CB20D53,Internal Medicine,53
6552,44E65D3E9BC2F88B2B3D566DE51A5381,Internal Medicine,56
16682,B3BF6193684F3983BB8642C8ADD75A4A,Pediatrics,51
24998,DA2BC1EE176B88E66B5B75B78CC2BDE5,Internal Medicine - Adult Invasive Cardiology,44
25012,2A83C2B6E517F17CAE341A080C27D8E2,Internal Medicine,44
28649,3464CE4186536A9855A8A7967B121B3E,Dermatology,24

In [104]:
doctors_table_vismin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 1520 to 28649
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       12 non-null     string
 1   mainspecialty  12 non-null     string
 2   age            12 non-null     Int32
dtypes: Int32(1), string(2)
memory usage: 348.0 bytes

In [113]:
engine = create_engine(f"mysql+pymysql://root:{db_password}@localhost/stadvdbmco2vismin")

In [114]:
# Table name to delete from
table_name = 'clinics'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
clinics_table_vismin.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'clinics' table.

5772

In [115]:
# Table name to delete from
table_name = 'doctors'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
doctors_table_vismin.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'doctors' table.

12

In [116]:
# Table name to delete from
table_name = 'px'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
px_table_vismin.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'px' table.

862

In [117]:
# Table name to delete from
table_name = 'appt_main'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")

appointments_table_vismin.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'appt_main' table.

2128

In [147]:
# engine.dispose()