Importing

In [1452]:
import os
import pandas as pd
from dotenv import load_dotenv

from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy.exc import NoSuchTableError

## Connect to MySQL

In [1453]:
load_dotenv()
db_password = os.getenv("PASSWORD")
print(db_password)

12345

In [1454]:
engine = create_engine(f"mysql+pymysql://root:{db_password}@localhost/stadvdbmco1")

### To push to MySQL use this: 
```# Push DataFrame to MySQL
df_to_push.to_sql('table_name_to_store', con=engine, index=False, if_exists='replace')

In [1455]:
#df.to_sql('table_name_to_store', con=engine, index=False, if_exists='replace')

## Reading CSV Files
Using of iso-8859-1 allows csv reader to read non-UTF-8 formated files

In [1456]:
appointments_table = pd.read_csv("./smdb/appointments.csv", encoding='iso-8859-1',
                                 dtype={
                                     'apptid': 'string',
                                     'pxid': 'string',
                                     'clinicid': 'string',
                                     'doctorid': 'string',
                                     'status': 'string',
                                     #'TimeQueued': 'string',
                                     #'QueueDate': 'string',
                                     #'StartTime': 'string',
                                     #'EndTime': 'string',
                                     'type': 'string',
                                     'Virtual': 'boolean'
                                 })
clinics_table = pd.read_csv("./smdb/clinics.csv", encoding='iso-8859-1',
                            dtype={
                                'clinicid': 'string',
                                'hospitalname': 'string',
                                'IsHospital': 'boolean',
                                'City': 'string',
                                'Province': 'string',
                                'RegionName': 'string'
                            })
doctors_table = pd.read_csv("./smdb/doctors.csv", encoding='iso-8859-1',
                            dtype={
                                'doctorid': 'string',
                                'mainspecialty': 'string',
                                'age': 'Int32'
                            })
px_table = pd.read_csv("./smdb/px.csv", encoding='iso-8859-1',
                       dtype={
                           'pxid': 'string',
                           'gender': 'string'
                       },
                       low_memory= False)

This DataFrame contains information about appointments, including patient ID, clinic ID, doctor ID, appointment ID, status, time queued, queue date, start time, end time, appointment type, and virtual status.

In [1457]:
appointments_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pxid        3 non-null      string
 1   clinicid    3 non-null      string
 2   doctorid    3 non-null      string
 3   apptid      3 non-null      string
 4   status      3 non-null      string
 5   TimeQueued  3 non-null      object
 6   QueueDate   3 non-null      object
 7   StartTime   2 non-null      object
 8   EndTime     2 non-null      object
 9   type        3 non-null      string
 10  Virtual     3 non-null      boolean
dtypes: boolean(1), object(4), string(6)
memory usage: 378.0+ bytes

This DataFrame contains information about clinics, including clinic ID, hospital name, hospital status, city, province, and region name.

In [1458]:
clinics_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   clinicid      3 non-null      string
 1   hospitalname  1 non-null      string
 2   IsHospital    3 non-null      boolean
 3   City          3 non-null      string
 4   Province      3 non-null      string
 5   RegionName    3 non-null      string
dtypes: boolean(1), string(5)
memory usage: 258.0 bytes

This DataFrame contains information about doctors, including doctor ID, main specialty, and age.

In [1459]:
doctors_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   doctorid       3 non-null      string
 1   mainspecialty  3 non-null      string
 2   age            3 non-null      Int32
dtypes: Int32(1), string(2)
memory usage: 195.0 bytes

This DataFrame contains information about patients, including patient ID, age, and gender.

In [1460]:
px_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pxid    3 non-null      string
 1   age     3 non-null      int64
 2   gender  3 non-null      string
dtypes: int64(1), string(2)
memory usage: 204.0 bytes

### APPOINTMENTS TABLE

In [1461]:
appointments_table.head(10)

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
0,00000AAAAAAAAAAAAAAAAAAAAAAAAAAA,00000GGGGGGGGGGGGGGGGGGGGGGGGGGG,00000DDDDDDDDDDDDDDDDDDDDDDDDDDD,00000JJJJJJJJJJJJJJJJJJJJJJJJJJJ,Complete,2018-04-11 01:59:58,2018-04-10 16:00:00,NaN,NaN,Consultation,False
1,00000BBBBBBBBBBBBBBBBBBBBBBBBBBB,00000HHHHHHHHHHHHHHHHHHHHHHHHHHH,00000EEEEEEEEEEEEEEEEEEEEEEEEEEE,00000KKKKKKKKKKKKKKKKKKKKKKKKKKK,Queued,2018-04-10 10:34:16,2018-04-08 16:00:00,2018-04-09 10:33:00,2018-04-12 05:29:57,Consultation,True
2,00000CCCCCCCCCCCCCCCCCCCCCCCCCCC,00000IIIIIIIIIIIIIIIIIIIIIIIIIII,00000FFFFFFFFFFFFFFFFFFFFFFFFFFF,00000LLLLLLLLLLLLLLLLLLLLLLLLLLL,Queued,2018-04-03 15:26:19,2018-03-30 16:00:00,2018-03-31 15:25:00,2018-04-05 15:51:47,Consultation,True

In [1462]:
appointments_table['status'].unique()

<StringArray>
['Complete', 'Queued']
Length: 2, dtype: string

In [1463]:
appointments_table['type'].unique()

<StringArray>
['Consultation']
Length: 1, dtype: string

In [1464]:
appointments_table['Virtual'].unique()

<BooleanArray>
[False, True]
Length: 2, dtype: boolean

### CLINICS TABLE

In [1465]:
clinics_table.head(10)

,clinicid,hospitalname,IsHospital,City,Province,RegionName
0,00000GGGGGGGGGGGGGGGGGGGGGGGGGGG,Medical Center Taguig,True,Taguig,Manila,National Capital Region (NCR)
1,00000HHHHHHHHHHHHHHHHHHHHHHHHHHH,<NA>,False,Cebu City,Cebu,Central Visayas (VII)
2,00000IIIIIIIIIIIIIIIIIIIIIIIIIII,<NA>,False,Cagayan de Oro,Misamis Oriental,Northern Mindanao (X)

### DOCTORS TABLE

In [1466]:
doctors_table['age'].unique()

<IntegerArray>
[34, 55, 35]
Length: 3, dtype: Int32

### PX TABLE

In [1467]:
px_table

                               pxid  age  gender
0  00000AAAAAAAAAAAAAAAAAAAAAAAAAAA   23  FEMALE
1  00000BBBBBBBBBBBBBBBBBBBBBBBBBBB   12    MALE
2  00000CCCCCCCCCCCCCCCCCCCCCCCCCCC   14  FEMALE

In [1468]:
px_table['age'].unique()

array([23, 12, 14], dtype=int64)

In [1469]:
px_table['gender'].unique()

<StringArray>
['FEMALE', 'MALE']
Length: 2, dtype: string

In [1470]:
null_count_gender = px_table['gender'].isnull().sum()
print("Null count in 'gender' column:", null_count_gender)

Null count in 'gender' column: 0

# CLEANING

## Clinic Table Cleaning
The process of cleaning this dataset involves dropping duplicated records and retaining those with empty hospitalName. This is due to the conditional characteristic of the database to leave empty cell when Ishospital is false, which means that the certain record is not a hospital but a clinic. Both clinic and hospital are needed in the project. Thus, empty cells in hospitalname are retained. hospitalname was also sliced up to 45 characters for consistency.

In [1471]:
#remove duplicates
clinics_table = clinics_table.drop_duplicates(subset='clinicid')

#Set max character length of hospital name to 45
clinics_table['hospitalname'] = clinics_table['hospitalname'].str.slice(0, 45)

clinics_table = clinics_table
clinics_table

,clinicid,hospitalname,IsHospital,City,Province,RegionName
0,00000GGGGGGGGGGGGGGGGGGGGGGGGGGG,Medical Center Taguig,True,Taguig,Manila,National Capital Region (NCR)
1,00000HHHHHHHHHHHHHHHHHHHHHHHHHHH,<NA>,False,Cebu City,Cebu,Central Visayas (VII)
2,00000IIIIIIIIIIIIIIIIIIIIIIIIIII,<NA>,False,Cagayan de Oro,Misamis Oriental,Northern Mindanao (X)

## PX Table Cleaning

The process of cleaning this dataset with patient information means we take out the repeated lines, get rid of any lines that do not have all their data, and remove any unusual numbers in the column for 'age'. We change the 'age' into numbers, and we do not include ages less than 0 or more than 122 years.

In [1472]:
# remove duplicates
px_table = px_table.drop_duplicates(subset='pxid')

# remove rows with empty cell
px_table = px_table.dropna()

# remove outliers age
px_table['age'] = pd.to_numeric(px_table['age'], errors='coerce')
px_table = px_table.query('0 < age < 122')
px_table

                               pxid  age  gender
0  00000AAAAAAAAAAAAAAAAAAAAAAAAAAA   23  FEMALE
1  00000BBBBBBBBBBBBBBBBBBBBBBBBBBB   12    MALE
2  00000CCCCCCCCCCCCCCCCCCCCCCCCCCC   14  FEMALE

## DOCTOR TABLE CLEANING

The dataset of doctors is cleaned by removing repeated entries, filling empty spaces in the 'mainspecialty' column with 'unknown', and taking out extreme values from the 'age' column. This ensures that our data is correct, complete, and reliable for studying and analyzing both demographic information and specialties of the medical professionals.

In [1473]:
# remove duplicates
doctors_table = doctors_table.drop_duplicates(subset='doctorid')

# replace empty cell with 'unknown'
doctors_table['mainspecialty'] = doctors_table['mainspecialty'].fillna('unknown')

# remove outliers age
doctors_table['age'] = pd.to_numeric(doctors_table['age'], errors='coerce')
#doctors_table = doctors_table.query('0 < age < 122')
doctors_table = doctors_table[(doctors_table['age'] >= 0) & (doctors_table['age'] <= 122)]
doctors_table

                           doctorid      mainspecialty  age
0  00000DDDDDDDDDDDDDDDDDDDDDDDDDDD  Internal Medicine   34
1  00000EEEEEEEEEEEEEEEEEEEEEEEEEEE        Dermatology   55
2  00000FFFFFFFFFFFFFFFFFFFFFFFFFFF     Family Dentist   35

## APPOINTMENT TABLE CLEANING

The appointments dataset will be improved for better analysis and interpretation through the use of this data cleaning method. In order to preserve data integrity, it starts by removing any datetime values that don't fall inside a suitable range. After that, date columns are standardized to follow the right format, guaranteeing consistency and making processing easier in the future. To improve precision and clarity, time-related columns are cleansed of redundant milliseconds. In addition, duplicate rows are found and removed in order to preserve data integrity and prevent analysis errors.

In [1474]:


# Drop duplicates
appointments_table = appointments_table.drop_duplicates(subset='apptid')

# Define a custom function to strip milliseconds
def strip_milliseconds(dt_str):
    return dt_str.split('.')[0]

# Filter out rows with out-of-bounds datetime values
mask = (appointments_table['QueueDate'] >= '1900-01-01') & (appointments_table['QueueDate'] <= '2200-12-31')
appointments_table = appointments_table[mask]

# Now try converting 'QueueDate' to datetime again
appointments_table['QueueDate'] = pd.to_datetime(appointments_table['QueueDate']) #remove
# Convert 'QueueDate' column to string type
appointments_table['QueueDate'] = appointments_table['QueueDate'].astype(str)
appointments_table['QueueDate'] = appointments_table['QueueDate'].apply(strip_milliseconds)
appointments_table['QueueDate'] = pd.to_datetime(appointments_table['QueueDate'], format='%Y-%m-%d %H:%M:%S')

# Convert 'StartTime' column to string type
appointments_table['StartTime'] = appointments_table['StartTime'].astype(str)
appointments_table['StartTime'] = appointments_table['StartTime'].apply(strip_milliseconds)
appointments_table['StartTime'] = pd.to_datetime(appointments_table['StartTime'], format='%Y-%m-%d %H:%M:%S')

appointments_table['EndTime'] = appointments_table['EndTime'].astype(str)
appointments_table['EndTime'] = appointments_table['EndTime'].apply(strip_milliseconds)
# remove unrealistic or out of range values
mask = (appointments_table['QueueDate'] <= '2232-04-11 23:47:16')
appointments_table = appointments_table[mask]
appointments_table['EndTime'] = pd.to_datetime(appointments_table['EndTime'], format='%Y-%m-%d %H:%M:%S')

# Convert 'Completed' under 'status' to 'Complete'
appointments_table['status'] = appointments_table['status'].replace('Completed', 'Complete')

# Check if 'Completed' is replaced with 'Complete' under 'status'
print(appointments_table['status'].value_counts())

# Integration with other code
appointments_table = appointments_table[appointments_table['pxid'].isin(px_table['pxid'])]
appointments_table = appointments_table[appointments_table['doctorid'].isin(doctors_table['doctorid'])]
appointments_table = appointments_table[appointments_table['clinicid'].isin(clinics_table['clinicid'])]


# Print the cleaned appointments table
appointments_table

status
Queued      2
Complete    1
Name: count, dtype: Int64

,pxid,clinicid,doctorid,apptid,status,TimeQueued,QueueDate,StartTime,EndTime,type,Virtual
0,00000AAAAAAAAAAAAAAAAAAAAAAAAAAA,00000GGGGGGGGGGGGGGGGGGGGGGGGGGG,00000DDDDDDDDDDDDDDDDDDDDDDDDDDD,00000JJJJJJJJJJJJJJJJJJJJJJJJJJJ,Complete,2018-04-11 01:59:58,2018-04-10 16:00:00,NaT,NaT,Consultation,False
1,00000BBBBBBBBBBBBBBBBBBBBBBBBBBB,00000HHHHHHHHHHHHHHHHHHHHHHHHHHH,00000EEEEEEEEEEEEEEEEEEEEEEEEEEE,00000KKKKKKKKKKKKKKKKKKKKKKKKKKK,Queued,2018-04-10 10:34:16,2018-04-08 16:00:00,2018-04-09 10:33:00,2018-04-12 05:29:57,Consultation,True
2,00000CCCCCCCCCCCCCCCCCCCCCCCCCCC,00000IIIIIIIIIIIIIIIIIIIIIIIIIII,00000FFFFFFFFFFFFFFFFFFFFFFFFFFF,00000LLLLLLLLLLLLLLLLLLLLLLLLLLL,Queued,2018-04-03 15:26:19,2018-03-30 16:00:00,2018-03-31 15:25:00,2018-04-05 15:51:47,Consultation,True

## Loading to Data Warehouse

The following code is for checking purposes when the whole program is run multiple times. This is to ensure that the reference table was removed first before the dimension table attempt to remove values to avoid duplicates in append command. Similarly, these block of codes repeat on loading for each tables to ensure that whenever that block of code is run, it won't duplicate on append as well.

In [1475]:
# Table name to delete from
table_name = 'appt_main'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")

All values deleted from the 'appt_main' table.

In [1476]:
# Table name to delete from
table_name = 'doctors'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
doctors_table.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'doctors' table.

3

In [1477]:
# Table name to delete from
table_name = 'px'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
px_table.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'px' table.

3

In [1478]:
# Table name to delete from
table_name = 'clinics'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")
clinics_table.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'clinics' table.

3

In [1479]:
# Table name to delete from
table_name = 'appt_main'

# Check if the table exists
metadata = MetaData()
try:
    table = Table(table_name, metadata, autoload_with=engine)
except NoSuchTableError:
    print(f"The table '{table_name}' does not exist.")
else:
    # Table exists, so delete all rows
    with engine.connect() as connection:
        connection.execute(f"DELETE FROM {table_name}")
        print(f"All values deleted from the '{table_name}' table.")

appointments_table.to_sql(f'{table_name}', con=engine, index=False, if_exists='append')

All values deleted from the 'appt_main' table.

3